.my-content {

    // margin-left: 100px;
    .col-sm-6 {
        h4 {
            font-size: 35px;
            padding-left: 2.25rem;
            Font: normal normal 600 35px/41px Public Sans;

        }

        .breadcrumb {
            background-color: #fff;

            .breadcrumb-icons svg {
                color: #9196a1;
                padding-right: 25px;

                @media(max-width: 712px) {
                    display: none;
                }
            }

            .courses-btn {
                margin-top: -9px;
                margin-left: 7px;
                background: #EEF2FF;
                color: #4F46E5;
                font-size: 16px;
                box-shadow: none;
                border-radius: 7px;

                @media (max-width: 575.98px) {
                    display: none;
                }
            }
        }
    }

    .page-main-content {
        .row {
            margin-right: 33px;
            padding-left: 35px;

            .courses-btn2 {
                display: none;
            }

            @media (max-width:575.98px) {
                .courses-btn2 {
                    display: block;
                    margin-top: -9px;
                    margin-left: 12px;
                    margin-top: 10px;
                    background: #EEF2FF;
                    color: #4F46E5;
                    font-size: 16px;
                    box-shadow: none;
                    border-radius: 7px;
                }
            }
        }

        .course-card {
            margin-bottom: 20px;
            margin-right: -4px;

            .card {
                border-radius: 7px;
                margin-right: -9px;
            }

            .card-title {
                display: flex;
                justify-content: space-between;

                .icon-title {
                    color: #d5d5d5;
                    cursor: pointer;
                }

                h5 {
                    font-size: 20px;
                    font-family: 'Public Sans', SemiBold;
                }
            }

            .card-text {
                color: #848a95;
                font-size: 18px;
                font-family: 'Public Sans', Light;
            }

            .mid-card {
                display: flex;
                justify-content: space-between;

                // position: relative;
                svg {
                    cursor: pointer;
                    font-size: 18px;
                }

                .sec-icon {
                    position: absolute;
                    // bottom: 68px;
                    left: 31px;
                    font-size: 18px;
                }

                .mid-text {
                    font-size: 16px;
                    // text-align: center;
                    color: #6b7280;
                    font-family: 'Public Sans', Light;

                    // padding-left: 51.5px;
                    @media (max-width:1199.98px) {
                        display: none;
                    }

                    @media (max-width:767px) {
                        display: block;
                    }
                }

                .mid-num {
                    font-size: 16px;
                    // text-align: center;
                    color: #6b7280;
                    font-family: 'Public Sans', Light;
                    // padding-left: 51.5px;
                }

            }

            .mid-footer {
                margin-top: 20px;
                background: #fff;
                border: none;
                display: flex;
                justify-content: space-between;
                padding: 0;

                @media (max-width:1199.98px) {
                    display: block;
                }

                @media (max-width:767.98px) {
                    display: flex;
                }

                .mid-time {
                    font-size: 14px;
                    padding-left: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .time {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-image: url('../../img/Icon\ feather-clock.svg');
                        background-repeat: no-repeat;
                        background-size: 13px 14px;
                        margin-top: 7px;
                    }

                }

                .mid-date {
                    font-size: 14px;
                    padding-left: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .calendar {
                        background-image: url('../../img/Group\ 66.svg');
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-size: 13px 22px;
                        background-repeat: no-repeat;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}


// Dashboard

.dashboard-content {

    // margin-left: 100px;
    .heading-dash {
        width: 178px;
        height: 41px;
        padding-left: 1.65rem;
        font-size: 35px;
        color: #3E3E3E;
    }

    .page-dash-content {
        .row {
            padding-left: 13px;
            // padding-right: 36px;
            // margin-right: 0;
            // margin-left: 0;
            // margin-top: 25px;
        }

        .col-md-8 .row {
            margin-top: 25px;
        }

        .card-4 {
            @media (max-width:1098px) {
                .card .card-body .main-item {
                    margin-top: 24px;
                }
            }
        }

        .dash-card {

            .card {
                border: none;
                box-shadow: 0px 3px 6px #00000029;
                // margin-top: 20px;
                margin-bottom: 28px;
                // margin-bottom: 20px;

                // width: 467px;
                // height: 240px;

                @media (max-width:1399.98px) {
                    width: auto;
                }
            }

            .card .card-title h5 {
                font-size: 16px;
                width: 178px;
                height: 19px;
                color: #3E3E3E;
                border-bottom: 1px solid #d5d5d5;
                padding-bottom: 21px;
            }

            .card-body {

                .row {
                    margin-left: -26px;
                    @media (max-width:767px) {
                        .row {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                        }
                    }
                    .first-item {
                        border: none;
                        text-align: center;
                        height: 50px;
                        display: flex;
                        flex-direction: column;
                        /* justify-content: center; */
                        align-items: center;
                    }

                    .sec-item,
                    .third-item {
                        text-align: center;
                        height: 50px;
                        border-left: 1px solid #d5d5d5;
                        display: flex;
                        flex-direction: column;
                        /* justify-content: center; */
                        align-items: center;
                    }

                    .forth-item {
                        text-align: center;
                        height: 50px;
                        border-left: 1px solid #d5d5d5;
                        display: flex;
                        flex-direction: column;
                        /* justify-content: center; */
                        align-items: center;

                    }

                    .first-item span,
                    .sec-item span,
                    .third-item span,
                    .forth-item span {
                        color: #3E3E3E;
                        font: normal normal normal 24px/28px Public Sans;
                    }

                    .first-item p,
                    .sec-item p,
                    .third-item p,
                    .forth-item p {
                        color: #6B7280;
                        font: normal normal normal 16px/19px Public Sans;
                    }

                    @media (max-width:767px) {
                        .col-md-3 {
                            display: contents;
                        }
                        .item-content{
                            padding-right: 10px;
                            padding-left: 10px;
                        }
                    }
                    // .forth-item {
                    //     .span {
                    //         color: #3E3E3E;
                    //         font: normal normal normal 24px/28px Public Sans;
                    //     }

                    //     p {
                    //         color: #6B7280;
                    //         font: normal normal normal 16px/19px Public Sans;
                    //     }
                    // }

                }
            }

            // .card-items {
            //     display: flex;
            //     justify-content: flex-start;
            //     // justify-content: space-between;
            //     align-items: center;
            //     padding-top: 14px;
            //     text-align: center;
            //     flex-wrap: wrap;

            //     @media (max-width:1292px) {
            //         justify-content: center;
            //     }

            //     @media (max-width:767px) {
            //         justify-content: flex-start;
            //     }


            //     span {
            //         color: #3E3E3E;
            //         font: normal normal normal 24px/28px Public Sans;
            //     }

            //     p {
            //         font: normal normal normal 16px/19px Public Sans;
            //         color: #6B7280;
            //     }

            //     .first-item {
            //         border-right: 1px solid #d5d5d5;
            //         // padding-right: 19px;
            //         height: 48px;
            //         padding-right: 34px;
            //         margin-left: 13px;

            //         @media (max-width:1399.98px) {
            //             margin-left: 0;
            //             padding-right: 24px;
            //         }

            //         @media (max-width:1098px) {
            //             border: none;
            //         }

            //         @media (max-width:958px) {
            //             display: flex;
            //             flex-direction: column;
            //             margin-left: 26px;
            //             align-items: center;
            //             justify-content: center;
            //             margin-bottom: 11px;
            //             border: none;
            //         }

            //         @media (max-width:767px) {
            //             // display: flex;
            //             // flex-direction: column;
            //             // border-right: 1px solid #d5d5d5;
            //             // height: 48px;
            //             // padding-right: 34px;
            //             // margin-left: 13px;

            //             border-right: 1px solid #d5d5d5;
            //             // padding-right: 19px;
            //             height: 48px;
            //             padding-right: 34px;
            //             margin-left: 13px;
            //             padding-top: 17px;
            //         }
            //     }

            //     .sec-item {
            //         border-right: 1px solid #d5d5d5;
            //         // padding-right: 19px;
            //         height: 48px;
            //         padding-right: 34px;
            //         margin-left: 34px;

            //         @media (max-width:1399.98px) {
            //             margin-left: 0;
            //             padding-right: 24px;
            //             padding-left: 24px;
            //         }

            //         @media (max-width:1098px) {
            //             border: none;
            //         }

            //         @media (max-width:958px) {
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;
            //             flex-direction: column;
            //             margin-top: 5px;
            //         }

            //         @media (max-width:767px) {
            //             border-right: 1px solid #d5d5d5;
            //             // padding-right: 19px;
            //             height: 48px;
            //             padding-right: 34px;
            //             margin-left: 34px;
            //         }
            //     }

            //     .forth-third {
            //         @media (max-width:1520px) {
            //             border-right: 1px solid #d5d5d5;
            //             height: 48px;
            //         }

            //         @media (max-width:1098px) {
            //             border: none;
            //         }
            //     }

            //     .third-item {
            //         margin-left: 35px;
            //         margin-top: 12px;


            //         @media (max-width:1399.98px) {
            //             margin-left: 0;
            //             padding-right: 24px;
            //             padding-left: 24px;
            //         }

            //         @media (max-width:1098px) {
            //             border: none;
            //         }

            //         // @media (max-width:1292px) {

            //         // }
            //         @media (max-width:958px) {
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;
            //             flex-direction: column;
            //         }

            //         @media (max-width:767px) {
            //             margin-left: 35px;
            //             margin-top: 11px;
            //         }
            //     }

            //     .forth-item {
            //         height: 48px;
            //         padding-left: 34px;
            //         margin-left: 34px;
            //         border-left: 1px solid #d5d5d5;

            //         @media (max-width:1550.99px) {
            //             border-left: none;
            //             padding-left: 24px;
            //             margin-left: 34px;
            //         }

            //         @media (max-width:1518px) {
            //             // .card-4{
            //             margin-top: 5px;
            //             padding-left: 0;
            //             margin-left: 24px;
            //             // }
            //         }

            //         @media (max-width:1098px) {
            //             border: none;
            //         }

            //         @media (max-width:767px) {
            //             height: 48px;
            //             padding-left: 34px;
            //             margin-left: 34px;
            //             border-left: 1px solid #d5d5d5;
            //         }
            //     }


            // }

            .main-item {
                display: flex;
                margin-top: 32px;

                .main-icon-div-1,
                .main-icon-div-2,
                .main-icon-div-3,
                .main-icon-div-4 {
                    width: 57px;
                    height: 58px;
                    padding-top: 15px;
                    padding-left: 12px;
                    border-radius: 5px;
                }

                .main-icon-div-1 {
                    background: #FC544B;
                }

                .main-icon-div-2 {
                    background: #FFA426;
                }

                .main-icon-div-3 {
                    background: #47C363;
                }

                .main-icon-div-4 {
                    background: #6777EF;
                }

                .main-icon1,
                .main-icon2,
                .main-icon3,
                .main-icon4 {
                    display: inline-block;
                    width: 31px;
                    height: 31px;
                    background-repeat: no-repeat;
                    background-size: 30px 30px;

                }

                .main-icon1 {
                    background-image: url('../../img/feather-shopping-cart.svg');
                }

                .main-icon2 {
                    background-image: url('../../img/Union1.svg');
                }

                .main-icon3 {
                    background-image: url('../../img/feather-shopping-cart.svg');
                }

                .main-icon4 {
                    background-image: url('../../img/Icon-feather-message-circle.svg');
                }

                .main-text {
                    margin-left: 15px;

                    span {
                        color: #6B7280;
                        font: normal normal normal 16px/19px Public Sans;
                        font-size: 16px;
                    }

                    p {
                        color: #3E3E3E;
                        padding-top: 4px;
                        font: normal normal normal 24px/28px Public Sans;
                    }
                }
            }

            @media (max-width:1920px) {
                .div-4 {
                    margin-top: 11px;
                }
            }

            // .div-4{
            @media (max-width:1368px) {
                .div-4 {
                    margin-top: 26px;
                }
            }

            // }

        }

        .dash-double-card {
            .card {
                border: none;
                // margin-top: 20px;
                margin-top: 25px;
                // margin-bottom: 20px;
                background: #F4F6F9;
                width: 469px;
                height: 512px;

                @media (max-width:1399.98px) {
                    width: auto;
                }

                .card-items {
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                    margin-left: 33px;

                    .main-item {
                        display: flex;
                        // margin-bottom: 10px;
                        // margin-top: 33px;
                        margin-bottom: 33px;
                        // margin-left: 33px;
                        padding-bottom: 36px;
                        border-bottom: 1px solid #d5d5d5;

                        .icons {
                            background: #6777EF;
                            border-radius: 5px;
                            width: 75px;
                            height: 75px;
                            padding-top: 15px;
                            padding-left: 14px;

                            .icon1,
                            .icon2,
                            .icon3 {
                                // display: inline-block;
                                // width: 40px;
                                // background-size: 37px 37px;
                                // height: 40px;
                                // background-repeat: no-repeat;

                                display: inline-block;
                                width: 45px;
                                background-size: 44px 44px;
                                height: 44px;
                                background-repeat: no-repeat;

                            }

                            .icon1 {
                                background-image: url('../../img/feather-shopping-cart.svg');
                            }

                            .icon2 {
                                background-image: url('../../img/msg100.svg');
                                margin-right: 13px;
                            }

                            .icon3 {
                                background-image: url('../../img/Iconawesome-eye.svg');
                                margin-right: 13px;
                            }
                        }

                        .first-text,
                        .sec-text,
                        .third-text {
                            padding-left: 16px;
                            padding-top: 8px;

                            span {
                                color: #6B7280;
                                font: normal normal normal 18px/21px Public Sans;
                            }

                            p {
                                color: #3E3E3E;
                                font: normal normal normal 24px/28px Public Sans;
                                width: 29px;
                                height: 28px;
                            }
                        }
                    }

                }
            }
        }
    }
}

// .card-items{

//     justify-content: center;
//     .first-item{
//         display: flex;
//     flex-direction: column;
//     margin-left: 26px;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 11px;
//     border: none;
//     }
//     .sec-item{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//     }
//     .third-item{
//         display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     }
// }