.main-content-login {
    background: #fff;
    height: 100vh;

    .content-side {
        color: #fff;

        .bg-login {
            background-image: url('../../img/bg-pic.png');
            background-size: cover;
            background-position: center;
            height: 100%;
            margin-left: -15px;

            @media (min-width: 500px) {
                margin-right: -15px;
            }
        }

        .content-login {
            margin-right: 100px;
            margin-left: 100px;

        }

        .logo-login {
            position: relative;
            display: flex;
            padding-top: 50px;
            // margin-left: -34px;
            .icon-div{
                position: absolute;
                left: -50px;
            }

            .logo-icon {
                background-image: url('../../img/Group\ 64.svg');
                width: 35px;
                height: 33px;
                background-repeat: no-repeat;
                display: inline-block;
                margin-top: 3px;
                background-size: 33px 33px;
            }
        }

        .logo-login h4 {
            font-family: 'Public Sans', Medium;
            // top: 76px;
            // left: 158px;
            width: 127px;
            height: 33px;
            font-size: 28px;
        }

        .side-content-login {
            padding-top: 42%;

            h4 {
                top: 381px;
                left: 158px;
                width: 273px;
                height: 66px;
                font-family: 'Public Sans', Medium;
            }

            p {
                color: #E5E7EB;
                font-family: 'Public Sans', Regular;
            }
        }
    }

    .form-side {
        .login-content {
            width: 50%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // margin-top: 84px;
            margin-top: 81px;
            // margin-bottom: 83px;
            // margin-bottom: 59px;

            @media(min-height:757px) {
                margin-top: 18%;
                margin-bottom: 83px;
            }

            @media (max-width:576px) {
                width: 75%;
            }


            // height: 100%;
            .login-heading {
                margin-bottom: 21px;

                h4 {
                    font-family: 'Public Sans', Medium;
                    color: #111827;
                    font-weight: 500;
                }

                p {
                    font-family: 'Public Sans', Regular;
                }
            }

            form {
                .form-group {
                    // margin-bottom: 2.25rem;
                    margin-top: 15px;

                    label {
                        font-family: 'Public Sans', Medium;
                        // font: normal normal medium 18px/21px Public Sans;
                        color: #6B7280;
                        font-size: 18px;
                    }
                }

                .form-control {
                    padding: 10px;
                    border-radius: 7px;
                }

                .form-control:focus {
                    box-shadow: none;
                }

                .form-check-input {
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;
                    width: 16px;
                    background: #4f46e5;
                    height: 16px;
                }

                .form-check-label {
                    color: #6B7280;
                }

                .form-check {
                    padding-left: 1.75rem;
                    margin-top: 9px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .forget-text {
                    color: #4F46E5;
                    cursor: pointer;
                }

                .btn-sign {
                    box-shadow: none;
                    background: #4f46e5;
                    color: #fff;
                    margin-top: 30px;
                    border-radius: 7px;
                    padding: 10px;
                    margin-right: 5px;
                    margin-left: 5px;
                }

                .login-bottom {
                    margin: auto;
                    padding-top: 15px;

                    p {
                        color: #6B7280;

                        span {
                            color: #4F46E5;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}