.nav-content {

  // margin-left: 100px;
  nav {
    margin-bottom: -14px;
    margin-top: -12px;

    @media (max-width:991.98px) {
      .collapse {
        display: contents;

        form {
          display: none;
        }

        .menu-icon {
          margin-left: 37px;
        }
      }
    }

    .navbar-collapse {
      margin-left: 38px;
      margin-top: -16px;

      @media (max-width:1130px) {
        margin-left: 26px;
      }

      .menu-icon {
        display: inline-block;
        width: 22px;
        height: 16px;
        cursor: pointer;
        background-image: url('../../img/option.svg');
        background-size: cover;

      }

    }

    .nav {
      margin-top: 16px;
      margin-right: 34px;

      @media (max-width:575.98px) {

        .nav-item .bell,
        .nav-item .setting,
        .active-notice {
          display: none;
        }
      }
    }

    .parent-active {
      position: relative;
      width: 50px;
    }

    .nav-item {

      .bell {
        position: relative;
        background-image: url('../../img/-notifications.svg');
        width: 25px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        margin-top: 5px;
        cursor: pointer;
      }

      .active-notice {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #ff0000;
        top: 11px;
        left: 28px;
      }

      .setting {
        background-image: url('../../img/Icon\ feather-settings.svg');
        width: 25px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-top: 5px;
      }

      svg {
        font-size: 22px;
      }
    }

    .menu-icon {
      cursor: pointer;
      font-size: 20px;
    }

    .search-icon {
      display: inline-flex;
      background-image: url('../../img/Icon-ionic-ios-search.svg');
      width: 20px;
      height: 20px;
      position: absolute;
      top: 33%;
      left: 100px;

      @media (max-width:1130px) {
        left: 90px;
      }
    }

    .form {
      margin-left: 18px;

      @media (max-width:1130px) {
        display: none;
      }
    }

    .form-control {
      padding-left: 34px;
    }

    .admin-profile {
      display: flex;

      .profile-circle {
        width: 30px;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
        height: 30px;

        .profile {
          // display: inline-block;
          // background-repeat: no-repeat;
          // background-size: 28px 18px;
          width: 22px;
          margin-top: 0px;
          height: 22px;
          // background-image: url('../../img/Group\ 4.svg');
        }

        svg {
          padding: 3px;
        }
      }

      .profile-name {
        margin-top: -8px;
        margin-left: 7px;

        span {
          font-size: 13px;
        }

        p {
          font-weight: 500;
          cursor: pointer;
          line-height: 15px;
        }
      }
    }

  }

  hr {
    margin-top: 0;
    border-top: 1px solid #90959f;
    border: 1;
  }
}