.wrapper {
    position: relative;
    // min-height: 100%;
    min-height: 100vh;
    // display: flex;
}

.sidebar-open {
    transition: width 0.5s ease;
    width: 100px;
    height: 100%;
    background: #F3F4F6;
    display: flex;
    flex-direction: column;
    float: left;

    .side-page {
        margin-top: 27px;
        margin-left: -18px;
    }

    .logo {
        // padding-left: 2.5rem;
        padding-left: 2rem;
        display: flex;

        .logo-icon {
            background-image: url('../../img/Group\ 64.svg');
            width: 35px;
            height: 33px;
            background-repeat: no-repeat;
            display: inline-block;
            margin-top: 3px;
            background-size: 33px 33px;
        }

        h4 {
            display: none;
        }
    }

    .content {
        height: 100%;
        margin-top: 32px;
        flex-grow: 1
    }

    .user {
        padding-left: 15px;
    }

    .crm {
        padding-left: 20px;
    }

    .li-heading {
        margin-left: 8px;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 8px;
        font-weight: bolder;
        font-size: 16px;
    }

    ul {
        flex-grow: 1;
        overflow-y: auto;
        height: 100%;

        li {
            list-style: none;
            font-size: 16px;
            width: 44px;
            height: 44px;
            font-weight: 500;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 14px;
            margin: 8px 0px 8px -15px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;

            svg {
                padding-right: 12px;
                padding-top: 4px;
            }

            span {
                display: none;
            }

            .fa-angle-down {
                display: none;
            }
        }

        li:hover {
            background: #e2e4e7;
            border-radius: 6px;
            color: #3E3E3E;
        }

        .active {
            background: #e2e4e7;
            border-radius: 6px;
            color: #3E3E3E;
        }

        .side-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../../img/Path\ 52.svg');
        }
    }
}

.main-content {
    transition: width 0.5s ease;
    width: 18.35%;
    height: 100%;
    background: #F3F4F6;
    display: flex;
    flex-direction: column;
    float: left;

    @media (max-width:1199px) {
        width: 100px;
    }

    .side-page {
        transition: 0.5s;
        margin-top: 27px;
        margin-left: -18px;
    }

    .logo {
        // padding-left: 2.5rem;
        padding-left: 2rem;
        display: flex;


        .logo-icon {
            background-image: url('../../img/Group\ 64.svg');
            width: 35px;
            height: 33px;
            background-repeat: no-repeat;
            display: inline-block;
            margin-top: 3px;
            background-size: 33px 33px;
        }

        h4 {
            color: #022352;
            font-size: 28px;

            @media (max-width:1199px) {
                display: none;
            }
        }
    }

    .content {
        height: 100%;
        margin-top: 32px;
        flex-grow: 1
    }

    .li-heading {
        margin-left: 34px;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 8px;
        font-weight: bolder;
        font-size: 16px;

        @media (max-width:1199px) {
            margin-left: 8px;
        }
    }

    @media (max-width:1119px) {
        .user {
            padding-left: 15px;
        }

        .crm {
            padding-left: 20px;
        }
    }

    ul {
        flex-grow: 1;
        overflow-y: auto;
        height: 100%;
        
        li {

            list-style: none;
            font-size: 16px;
            font-weight: 500;
            padding-top: 8px;
            padding-bottom: 12px;
            padding-left: 14px;
            margin: 0px 24px 8px -20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width:1480px) {
                .icon-down {
                    display: none;
                }
            }

            @media (max-width:1199px) {
                padding-top: 3px;
                height: 44px;
                width: 44px;
                padding-bottom: 12px;
                padding-left: 14px;
                margin: 8px 19px 8px -15px;
                
            }

            .icons {
                display: flex;
                align-items: center;

                svg {
                    padding-top: 5px;

                    @media (max-width:1190px) {
                        padding-right: 12px;
                        padding-top: 4px;
                    }
                }

                span {
                    @media (max-width:1199px) {
                        display: none;
                    }
                }
            }

            svg {
                padding-right: 12px;
                padding-top: 4px;


            }
        }

        li:hover {
            background: #e2e4e7;
            border-radius: 6px;
            color: #3E3E3E;
        }

        .active {
            background: #e2e4e7;
            border-radius: 6px;
            color: #3E3E3E;
        }

    }

}